#photos {
    display: flex;
}

.container {
    width: 33%;
    border: 1px solid black;
    overflow: hidden;
}

img {
    width: 100%;
    position: relative;
    top: 300px;
    transition: top 1s;
    transform : translate(0px, 0px);
    transition: transform 1s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100px;
}